{{!-- <form action="/password_generator" method="POST">
  <!-- 添加所需的表單字段 -->
  <button type="submit">生成密碼</button>
</form> --}}

{{!-- {{#if password}}
  <p>生成的密碼：{{password}}</p>
{{/if}} --}}

<div>測試頁面</div>